CSS:

.slider 
- relative to parent el (slider-wrap)
- height 100% of parent to fill entirety
- width to be long 
- display = flex to spread items evenly 
- will change = transform to optimize browsing
- background-color = black to fill entire container

.slider-item
- flex = 1 to space all flex items evenly
- filter = grayscale(100%) to make images black&white

.img-div
-background-size = cover to cover div
-background-position = center to center img


JS:

cloneNode - returns a copy of node if deep is true, includes node descendants

function getClonesWidth - looping through all clones, getting width of clone through offsetWidth method and appending to width variable and returning full width of slider

function setScrollPosition(position) - takes in a pixel position (ie position) sets window to scroll to that position. If we passed it 1 it would scroll 1 pixel from the top